label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.about {
  text-align: center;
  line-height: 3rem;
}

.blue-container{
  background-color: #251587;
  height: 50vh; 
  display: flex; 
  flex-direction : row;
  padding: 10px;
  align-items:center;
  justify-items: center;
  justify-content: center;
  color: white;
  text-align: justify;
  line-height: 1.9rem;
  margin-bottom: 5vh;
}


.blue-container.box{
  width: 100%;
  align-self: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 20px;
}

.blue-container img{
  margin:auto;
}

.register-button {
   padding: 10px;
   background-color: #251587;
   border: 5px white solid;
   border-radius: 20px;
}
